$cmp-theme-font-path: "~manulife-mobile-ionic-angular-ui/dist/assets/cmp-ui-theme/fonts";
$cmp-theme-image-path: "~manulife-mobile-ionic-angular-ui/dist/assets/cmp-ui-theme/images";

// Main colors //
$color-m-green: #00A758;
$color-m-green-light2: #00C46E;
$color-jh-blue: #1E1EE5;
$color-jh-blue-dark: #00009A;
$color-jh-blue-light3: #2D69FF;
$color-coral: #FF7769;
$color-coral-dark: #EC6453;
$color-coral-dark2: #DC5A44;
$color-dark-navy: #282B3E;
$color-dark-navy-light1: #34384B;
$color-dark-navy-light2: #424559;
$color-white: #FFFFFF;
$color-violet: #361558;
$color-gold: #F49600;
$color-turquoise: #06C7BA;
$color-cool-grey: #8E90A2;
$color-light-grey: #EDEDED;
$color-grey: #CCCCCC;

$color-black: black;
$color-white-2: #fafafa;
$color-white-3: #ededed;
$color-outer-circle: #e0e0e0;

$color-font: $color-dark-navy;
$color-primary-background: #FAFAFA;
$color-secondary-background: #FFFFFF;
$color-border: #ECECEC;

$border: $color-border solid 1px;
$tabbar-height: 50px;
$statusbar-height: 20px;
$header-navbar-height: 50px;
$margin: 20px;
$card-bar-width: 10px;

//PADDING
$radio-button-padding: 10px;
$page-padding-left: 20px;
$page-padding-right: 20px;

@mixin font-italic {
    font-family: 'ManulifeJHSerif-Italic'!important;
    font-weight: normal;
}
@mixin font-bold {
    font-family: 'ManulifeJHSans-Bold'!important;
    font-weight: normal;
}
@mixin font-medium {
    font-family: 'ManulifeJHSans-Demibold'!important;
    font-weight: normal;
    color: $color-font;
    b, strong, &.bold {
        font-family: 'ManulifeJHSans-Bold'!important;
        font-weight: normal;
    }
}
@mixin font-regular {
    font-family: 'ManulifeJHSans-Regular'!important;
    font-weight: normal;
    color: $color-font;
    b, strong, &.bold {
        font-family: 'ManulifeJHSans-Demibold'!important;
        font-weight: normal;
    }
}
@mixin font-light {
    font-family: 'ManulifeJHSans-Light'!important;
    font-weight: normal;
    color: $color-font;
    b, strong, &.bold {
        font-family: 'ManulifeJHSans-Regular'!important;
        font-weight: normal;
    }
}

@mixin transition() {
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}