@mixin transition() {
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }
  
  .navtab-add {
    $menu-close-width: 32px;
    $menu-button-width: 50px;
    $menu-close-bottom: 6px;
  
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 200;
    color: white;
    opacity: 0;
    transform: translateY(100%);
    transition-delay: .4s;
    
    .background {
      pointer-events: all;
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 0;
      bottom: 0;
      background: url(../../images/add_background.png) no-repeat center center;
      background-size: cover;
      opacity: .9;
      clip-path: circle(calc(#{$menu-close-width} / 2) at 50% calc(100% - #{$menu-close-width} / 2 - #{$menu-close-bottom} - 2px));
      transition-property: clip-path;
      @include transition;
    }
    .menu-close, .menu-button {
      background: none;
      font-size: 1em;
      .icon-wrapper {
        background: white;
        border-radius: 50%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #00A69B;
      }
    }
    .menu-close {
      position: absolute;
      bottom: $menu-close-bottom;
      left: 50%;
      transform: translateX(-50%);
      .icon-wrapper {
        width: $menu-close-width;
        height: $menu-close-width;
      }
    }
    .menu-buttons {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      button {
        font: unset;
      }
      .menu-button {
        opacity: 0;
        transform: translate(0,60px) scale(.5);
        padding: 0;
        position: relative;
        .icon-wrapper {
          width: $menu-button-width;
          height: $menu-button-width;
        }
        .label {
          font-family: 'Roboto-Regular';
          position: absolute;
          left: 50%;
          bottom: -20px;
          transform: translateX(-50%);
          white-space: nowrap;
          color: white;
          font-size: 1em;
        }
      }
    }
    &.open {
      opacity: 1;
      transform: translateY(0);
      transition-property: none;
      transition-delay: 0;
      .background {
        clip-path: circle(120vh at 50% calc(100% - #{$menu-close-width} / 2 - #{$menu-close-bottom} - 2px));
        transition-property: clip-path;
        @include transition;
      }
      .menu-buttons {
        .menu-button {
          opacity: 1;
          transform: translate(0,0) scale(1);
          transition-property: opacity, transform;
          @include transition;
        }
      }
    }
  }