<div class="navtab-add" [class.open]="open">
  <div class="background"></div>
  <div class="menu-buttons flex-row">
    <button class="menu-button" *ngFor="let item of options; let idx=index;"
    [ngStyle]="optionsMargintop[idx]"
    (tap)="button_click(idx)">
      <div class="icon-wrapper">
          <ion-icon [name]="item.icon"></ion-icon>
      </div>
      <div class="label">{{item.label}}</div>
    </button>
  </div>
  <button class="menu-close" (tap)="close()">
    <div class="icon-wrapper">
        <ion-icon name="cmp-tab-close"></ion-icon>
    </div>
  </button>
</div>