// *************************************
//
// IONIC ICONS
//
// *************************************

// externalized the image path to variables to allow extension

ion-icon {
    &[class*="cmp"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        &[class*="cmp-activities"] {
            mask-image: url($cmp-theme-image-path + "/tab_activities.svg");
            width: 1.13em;
            height: 1.25em;
        }
        &[class*="cmp-contacts"] {
            mask-image: url($cmp-theme-image-path + "/tab_contacts.svg");
            width: 1.25em;
            height: 1.25em;
        }
        &[class*="cmp-performance"] {
            mask-image: url($cmp-theme-image-path + "/tab_performance.svg");
            width: 1.25em;
            height: 1.19em;
        }
        &[class*="cmp-notification"] {
            mask-image: url($cmp-theme-image-path + "/tab_notification.svg");
            width: 1.25em;
            height: 1.25em;
        }
        &[class*="cmp-tab-add"] {
            mask-image: none;
            content: url($cmp-theme-image-path + "/tab_add.svg");
            width: 30px;
            height: 30px;
            background: transparent!important;
        }
        &[class*="cmp-add-candidate"] {
            mask-image: url($cmp-theme-image-path + "/icon_add_candidate.svg");
            width: 1.2em;
            height: 1.08em;
        }
        &[class*="cmp-add-contact"] {
            mask-image: url($cmp-theme-image-path + "/icon_add_contact.svg");
            width: 1.02em;
            height: 1.31em;
        }
        &[class*="cmp-add-activity"] {
            mask-image: url($cmp-theme-image-path + "/icon_add_activity.svg");
            width: 1.25em;
            height: .96em;
        }
        &[class*="cmp-tab-close"] {
            mask-image: url($cmp-theme-image-path + "/icon_cross.svg");
            width: 0.72em;
            height: 0.72em;
        }
    }
}