@import "../../theme/app-ui-variables.scss";

.cmp-top-toast {
    width: 100vw;
    height: auto;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: $color-dark-navy-light2;
    color: white;
    transform: translateY(-100%);
    transition-property: all;
    @include transition;

    &.show {
        transform: translateY(0);
        transition-property: transform;
        @include transition;
    }
}