
@import '../../../../theme/app-shared.scss';

@mixin font-size {
    font-size: 30px;
    line-height: 36px;
}

.empty-list-message-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $color-white-2;
    // Disable scrolling for empty list page
    overflow: hidden;

    .message-body {

        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100vw;
        height: 100vh;
        padding: 0 60px 0 60px;
        
        .icon-row {
            .empty-icon {
                height: 60px;
                width: 60px;
            }
        }

        .text-row {
            margin-top: 30px;

            ion-col {
                padding: 0;
                width: 65vw;
            }

            .light-font {
                @include font-light;
                @include font-size;
            }

            .regular-font {
                @include font-regular;
                @include font-size;
            }
        
            .medium-font {
                @include font-size;
                font-family: 'Roboto-Medium';
                color: $color-font;
            }
        
            .italic-font {
                @include font-italic;
                @include font-size;
            }
        
            .bold-font {
                @include font-bold;
                @include font-size;
            }
        }
    }
}