<form class="star-indicator-container" [formGroup]="starsFormGroup">
        <mat-checkbox #starCheckbox
                class="star-margin" 
                (click)="onClick($event)"
                (change)="onChange($event,star)" 
                [formControl]="star" 
                [(ngModel)]="star.value"
                *ngFor="let star of stars.controls">
                <mat-icon [svgIcon]="(starCheckbox.checked)?'cmp-star':'cmp-outline-star'"></mat-icon>
        </mat-checkbox>
</form>